{% extends "base.html" %}
{% block title %}Boards{% endblock %}
{% block content %}

<div class="page-title">
  <h1>Boards</h1>
  <a href="/boards/new" class="btn small">Create board</a>
</div>


<div class="card" style="margin-top:12px;">
  <h2>All boards</h2>
  <ul class="list">
    <li><a href="/board/global">Global (all boards)</a></li>
    {% for b in boards if b.slug != "global" %}
      <li><a href="/board/{{ b.slug }}">{{ b.name }}</a></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
